.main {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #f0f1f3;
}
.main__container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-column: span 4 / span 4;
}
.main__logo {
  max-width: 80px;
  grid-column-start: 1;
}
.main__description {
  grid-column-start: 2;
}
.main__mount {
  grid-column-start: 3;

  text-align: end;
}
.main_Date {
  background-color: #ffff;
}
.main__products-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e0e0e0;
}
.form_main_box {
  display: flex;
  justify-content: center;
}
.main__products-table-head {
  display: flex;
  justify-content: space-between;
}
.input {
  width: 80%;

  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}
