.navbar {
  background-color: #f0f1f3;
  padding: 2px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row: 1 / 4;
}
.navbar__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar__logo {
  max-width: 80px;
  gap: 30px;
}
.navbar__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.navigate {
  color: #667085;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.navigate:hover {
  background-color: #838895;
  transition: 0.3s;
}
